<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MovingNumberView.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MovingNumbersView-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MovingNumbersViewDemo-macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MovingNumbersViewDemo-watchOS WatchKit Extension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MovingNumbersViewDemo-watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MovingNumbersViewDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>305578B9246E5F8800DFEF8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>305578BC246E5F8800DFEF8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>305578CB246E5F8C00DFEF8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>308E63E32468B9690054D0F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>308E64042468BE610054D0F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
